/Proj/Khan,Hamza-Assignment 2 - 48130/build/
/Proj/Khan,Hamza-Assignment 2 - 48130/dist/
/Hmwk/Chapter 12 Homework/build/
/Hmwk/Chapter 12 Homework/dist/
/Proj/Game Project/build/
/Proj/Game Project/dist/
/Proj/Midterm/build/
/Proj/Midterm/dist/